@import './reset.scss';
@import './fonts.scss';
@import './typography.scss';
@import './variable.scss';

:root {
	--select: #0002121a;
}

html {
	font-size: 16px;
	letter-spacing: 0.0094rem;
	@media (min-width: 769px) and (max-width: 979px) {
		font-size: 1.55vw;
	}
	@media (min-width: 980px) and (max-width: 1110px) {
		font-size: 1.5vw;
	}
}

body {
	font-family: $font-primary;
	font-size: 1rem;
	line-height: 1.3;
	font-weight: normal;
	color: $primary;
	background: linear-gradient(90deg, #fff3fd 0.58%, #eaf5ff 94.76%);
	scroll-behavior: smooth;
	height: 100%;
	#root {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 0 5.5%;
		@media (min-width: 769px) and (max-width: 1440px) {
			padding: 0 2%;
		}
		@media #{$small-only} {
			padding: 0;
		}
	}
}

a {
	color: $link-primary;
	text-decoration: none;
	&:hover {
		color: $link-primary-hover;
	}
}

.container {
	width: 82.7%;
	max-width: 1000px;
	margin: 0 auto;
	@media #{$small-only} {
		width: 100%;
		max-width: none;
	}
}

.container-extended {
	width: 95%;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0 4px 20px rgba(172, 154, 223, 0.23);
}

.rad10 {
	border-radius: $rad10;
}

.rad15 {
	border-radius: $rad15;
}

.rad20 {
	border-radius: $rad20;
}

.cursor-pointer {
	cursor: pointer;
}

.body1 {
	font-size: 1.125rem;
	line-height: 1.35;
	font-weight: 500;
	@media #{$small-only} {
		font-size: 1rem;
	}
}

.link-primary {
	color: $link-primary;
}

.gray-light {
	color: $gray-light;
}

.only-mobile {
	display: none;
	@media #{$small-only} {
		display: block;
	}
}

.only-desktop {
	display: block;
	@media #{$small-only} {
		display: none;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5.375rem;
	position: sticky;
	top: 0;
	z-index: 10;
	background: linear-gradient(90deg, #fff3fd 0.58%, #eaf5ff 94.76%);
	@media #{$small-only} {
		padding: 0 0.875rem;
	}
	.logo-link {
		margin: 0 1.375rem 0 0;
		@media #{$small-only} {
			flex: 2;
		}
	}
	.logo {
		width: 8.0625rem;
	}
	.contacts {
		display: flex;
		flex-direction: column;
		line-height: 1.35;
		margin-right: 3.625rem;
		@media #{$small-only} {
			margin-right: 0;
		}
		.tel {
			color: $primary;
			font-size: 1.375rem;
			font-weight: bold;
			text-decoration: none;
			@media #{$small-only} {
				font-size: 0;
				line-height: 0;
				width: 2.1875rem;
				height: 2.1875rem;
				display: block;
				background: url(../static/images/icons/icon_call.svg) 0 0 no-repeat;
			}
		}
		.note {
			font-size: 0.75rem;
			color: $secondary;
			@media #{$small-only} {
				display: none;
			}
		}
	}
	.close-button {
		@media #{$small-only} {
			font-size: 0;
			line-height: 0;
			width: 2.1875rem;
			height: 2.1875rem;
			display: block;
			margin-left: 1.5rem;
			background: url(../static/images/icons/icon_button_close.svg) 0 0 no-repeat;
			cursor: pointer;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	border-radius: $rad20;
	background: $white;
	position: relative;
	min-height: calc(100vh - 5.375rem - 1.5rem);
	@media #{$small-only} {
		min-height: auto;
	}
	.close-button {
		position: absolute;
		top: 1.75rem;
		right: 2.125rem;
		font-size: 0;
		width: 0.9375rem;
		height: 0.9375rem;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			top: 0.25rem;
			left: 0.25rem;
			display: block;
			width: 1.3256rem;
			height: 1.3256rem;
			border-left: 1px #7a9dfb solid;
			transform: rotate(45deg);
			transition: 0.2s all linear;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0.25rem;
			left: -0.625rem;
			display: block;
			width: 1.3256rem;
			height: 1.3256rem;
			border-right: 1px #7a9dfb solid;
			transform: rotate(-45deg);
			transition: 0.2s all linear;
		}
		&:hover {
			&:before,
			&:after {
				border-color: darken(#7a9dfb, 25%);
			}
		}
	}
	&.content {
		@media #{$small-only} {
			margin: 0 0.75rem;
			min-height: auto;
		}
	}
}

.appointment-footer {
	position: fixed;
	width: 100%;
	height: 6rem;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	padding: 1.4375rem 0;
	@media #{$small-only} {
		//height: 4.5rem;
		height: auto;
		min-height: 4.5rem;
		padding: 1.3rem 0.5rem;
	}
	.button-special-block {
		@media #{$small-only} {
			padding: 0 0.75rem !important;
			white-space: nowrap;
		}	
	}
	.days-calendar__button.right {
		@media #{$small-only} {
			//min-width: 10.625rem;
			max-width: 10.625rem;
			flex: 1;
		}
	}
}
.buttons-footer{
	display: flex;
	justify-content: center;
	button {
		min-width: 14.0625rem;
		margin-left: 0.625rem;
		margin-right: 0.625rem;
		@media #{$small-only} {
			min-width: auto;
			margin-left: 0.1563rem;
			margin-right: 0.1563rem;
		}
		&:nth-child(2) {
			@media #{$small-only} {
				//min-width: 10.625rem;
				max-width: 10.625rem;
				flex: 1;
			}
		}
	}
}
.title-page {
	font-family: $font-secondary;
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 0.0313rem;
	margin: 0 0 2.4rem;
	@media #{$small-only} {
		font-size: 1.375rem;
		margin: 0 0 1.6rem;
	}
}

.subtitle1 {
	font-family: $font-secondary;
	font-size: 1.125rem;
	line-height: 1.35;
	font-weight: bold;
	letter-spacing: 0.0063rem;
}

.subtitle2 {
	font-family: $font-secondary;
	font-size: 1rem;
	line-height: 1.3;
	font-weight: bold;
	letter-spacing: 0.0063rem;
}

.loading-opacity {
	opacity: 0.3;
}
