@import 'variable';
@mixin scrollbar() {
  &::-webkit-scrollbar-track
  {
	position: absolute;
	right:10px;
	border-radius: 10px;
	background-color: #F5F5F5;
	margin:15px 0 15px 0;
  }

  &::-webkit-scrollbar
  {
	width: 4px;
	//background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
	border-radius: 10px;
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $bg-blue;
  }
}