.search-wrapper {
    input {
        font-family: 'Styrene A Web', Helvetica, Arial, sans-serif;
        height: 2.25rem;
    }
}

.select-group-label-count {
    display: none;
}

.display-none {
    display: none;
}

.no-options-message {
    padding: 0 15px;
}